<!-- list items view template  -->
<ion-view view-title="Your Notes">
  <ion-content ng-controller="ListCtrl">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" href="#/edit/{{note.id}}" ng-repeat="note in notes">
        <h2>
          {{note.title}}
        </h2>
        <p>
          {{note.description}}
        </p>
        <i class="icon ion-chevron-right"></i>
        <ion-option-button class="button-assertive ion-trash-b icon-left" ng-click="remove(note.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add" class="button button-calm ion-ios-compose-outline icon-left">
      Add Note
    </a>
  </div>
</ion-view>
